@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
}

#welcome-section {
  height: 100vh;
  width: 100vw;
  background-image: url("images/bg-welcome-mobile.svg");
  background-size: cover;
  background-color: #23D6E8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#welcome-section #navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15px 15px 0 0;
}

#welcome-section #navbar ul a {
  text-decoration: none;
  padding: 10px;
  font-size: smaller;
}

#welcome-section .container {
  width: 80%;
  margin: auto;
  margin-top: 300px;
  padding: 30px;
}

#welcome-section .container h1 {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 30px;
}

#welcome-section .container p {
  font-size: normal;
  line-height: 150%;
}

h2 {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 30px;
}

#projects {
  background-size: cover;
  padding: 10px;
}

#projects .container2 {
  display: -ms-grid;
  display: grid;
}

#projects .project-tile {
  width: 300px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10px;
  width: 90vw;
}

#projects .project-tile p {
  margin-bottom: 20px;
}

#projects .project-tile img {
  width: 250px;
  height: auto;
}

@media only screen and (min-width: 577px) {
  #welcome-section {
    height: 100vh;
    width: 100vw;
    background-image: url("images/bg-welcome.svg");
  }
  #welcome-section .container {
    width: 50%;
    margin-top: 45px;
    margin-left: 35vw;
  }
}
/*# sourceMappingURL=style.css.map */